<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="perfilCuenta.css">-->
    <link rel="stylesheet" href="/css/perfilCuenta2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <%- include('partials/header', {index: 0}) %>
    <div class="container my-custom-container">
        <div class="row">
            <aside class="col-md-4 my-4 mx-3">
                <div class="text-center my-4">
                    <img src="/imagenes/default_profile.png" alt="Foto de perfil" class="img-fluid rounded-circle">
                    <p>Usuario</p>
                </div>
                <div class="list-group mt-4 h4">
                    <button class="list-group-item list-group-item-action" id="boton-cuenta"><i class="fas fa-user"></i> Cuenta</button>
                    <button class="list-group-item list-group-item-action" id="boton-confCU"><i class="fas fa-key"></i> Configurar Cuenta</button>
                    <button class="list-group-item list-group-item-action" id="boton-expedientes"><i class="fas fa-shield-alt"></i> Expedientes Medicos</button>
                    <button class="list-group-item list-group-item-action text-danger" id="boton-borrar"><i class="fas fa-trash-alt"></i> Borrar Cuenta</button>
                </div>
            </aside>

            <main class="col-md-7">
                <section id="contenidoCuenta" class="ContenidoDinamico" style="display:none;">
                    <h2 class="mt-4">Configuracion de la Cuenta</h2>
                    <div class="foto-perfil text-center mb-4">
                        <img src="/default_profile.png" alt="foto-perfil" class="img-fluid rounded-circle">
                        <p>Usuario</p>
                    </div>
                    <div class="ContenidoCU">
                        <h3>Informacion General</h3>
                        <p>
                            Nombre: <%= usuario.nombre + " " + usuario.apellido%><br>
                            Correo: <%= usuario.correoelectronico %><br>
                            RUT: <%= usuario.rut %><br>
                            Telefono: <%= usuario.numerotelefono ? usuario.numerotelefono : "No registrado" %><br> <!-- Ternaria, si hay numero lo muestra, sino muestra "No registrado" -->
                            Direccion: Calle falsa 123 
                        </p>
                    </div>
                    <div class="cambiarNombre mt-4">
                        <h3>Cambiar Nombre de Usuario</h3>
                        <form id="nombreUSR">
                            <div class="form-group">
                                <label for="nuevoNombre">Nuevo nombre de Usuario</label>
                                <input type="text" class="form-control" name="nuevoNombre" id="nuevoNombre" placeholder="Ingrese un nuevo nombre de Usuario" required>
                            </div>
                            <button type="submit" class="btn">Actualizar Nombre</button>
                        </form>
                    </div>
                    <h3>Cambia tu foto de perfil</h3>
                    <div class="cambiarFoto">
                        <form id="uploadForm" method="post" action="/perfilUsuario/upload" enctype="multipart/form-data">
                            <input type="file" name="perfilFot" accept="image/*" required>
                            <button type="submit">Cambiar foto de perfil</button>
                        </form>
                    </div>

                    <h3>Valora HospiTrack</h3>
                    <div class="valoracion">
                        <form id="valor" method="post" action="/perfilUsuario/enviarVal">
                            <label for="rating">Valora nuestro servicio</label>
                            <div class="estrellas">
                                <input type="radio" name="rating" id="estrella5" value="5">
                                <label for="estrella5" title="5 estrellas">&#9733;</label>

                                <input type="radio" name="rating" id="estrella4" value="4">
                                <label for="estrella4" title="4 estrellas">&#9733;</label>

                                <input type="radio" name="rating" id="estrella3" value="3">
                                <label for="estrella3" title="3 estrellas">&#9733;</label>

                                <input type="radio" name="rating" id="estrella2" value="2">
                                <label for="estrella2" title="2 estrellas">&#9733;</label>

                                <input type="radio" name="rating" id="estrella1" value="1">
                                <label for="estrella1" title="1 estrella">&#9733;</label>
                            </div>
                            <button type="submit" class="btn">Enviar valoracion</button>
                        </form>
                    </div>
                    <br>
                    <h3>Valoracion Promedio</h3>
                </section>


                <section id="contenidoConfCuenta" class="ContenidoDinamico" style="display:none;">
                    <h2 class="mt-4">Configuracion de tu Cuenta</h2>

                    <div class="cambiarCor mt-4">
                        <h3>Actualiza tu Correo</h3>
                        <form id="CambiarCorreo" method="post" action="/perfilUsuario/cambiarcorreo">
                            <div class="form-group">
                                <label for="nuevoCorreo">Nuevo Correo</label>
                                <input type="email" class="form-control" name="nuevoCorreo" id="nuevoCorreo" placeholder="Ingrese su nuevo correo">
                            </div>
                            <div class="form-group">
                                <label for="confirmarCorreo">Contraseña Actual</label>
                                <input type="password" class="form-control" name="confirmarCorreo" id="confirmarCorreo" placeholder="Ingrese su contraseña actual" required>
                            </div>
                            <button type="submit" class="btn">Actualizar correo</button>
                        </form>
                    </div>

                    <div class="cambiarTel mt-4">
                        <h3>Actualiza tu Telefono</h3>
                        <form id="CambiarTelefono" method="post" action="/perfilUsuario/cambiartelefono">
                            <div class="form-group">
                                <label for="nuevoTelefono">Nuevo Telefono</label>
                                <input type="tel" class="form-control" name="nuevoTelefono" id="nuevoTelefono" placeholder="Ingrese su nuevo telefono">
                            </div>
                            <div class="form-group">
                                <label for="confirmarTelefono">Contraseña Actual</label>
                                <input type="password" class="form-control" name="confirmarTelefono" id="confirmarTelefono" placeholder="Ingrese su contraseña actual" required>
                            </div>
                            <button type="submit" class="btn">Actualizar telefono</button>
                        </form>
                    </div>

                    <div class="cambiarDir mt-4">
                        <h3>Actualiza tu Direccion</h3>
                        <form id="CambiarDireccion" method="post" action="/perfilUsuario/cambiardireccion">
                            <div class="form-group">
                                <label for="nuevaDireccion">Nueva Direccion</label>
                                <input type="text" class="form-control" name="nuevaDireccion" id="nuevaDireccion" placeholder="Ingrese su nueva direccion">
                            </div>
                            <div class="form-group">
                                <label for="confirmarDireccion">Contraseña Actual</label>
                                <input type="password" class="form-control" name="confirmarDireccion" id="confirmarDireccion" placeholder="Ingrese su contraseña actual" required>
                            </div>
                            <button type="submit" class="btn">Actualizar direccion</button>
                        </form>
                    </div>

                    <div class="cambiarContra mt-4">
                        <h3>Actualiza tu contraseña</h3>
                        <form id="CambiarContraseña" method="post" action="/perfilUsuario/cambiarcontrasenia">
                            <div class="form-group">
                                <label for="contraseñaActual">Contraseña Actual</label>
                                <input type="password" class="form-control" name="contraseñaActual" id="contraseñaActual" placeholder="Ingrese su contraseña actual" required>
                            </div>
                            <div class="form-group">
                                <label for="nuevaContraseña">Nueva Contraseña</label>
                                <input type="password" class="form-control" name="nuevaContraseña" id="nuevaContraseña" placeholder="Ingrese su nueva contraseña" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmarContraseña">Confirme Su Nueva Contraseña</label>
                                <input type="password" class="form-control" name="confirmarContraseña" id="confirmarContraseña" placeholder="Confirme su nueva contraseña" required>
                            </div>
                            <button type="submit" class="btn">Actualizar Contraseña</button>
                        </form>
                    </div>
                </section>

                <section id="contenidoExpedientes" class="ContenidoDinamico" style="display:none;">
                    <h2>Expedientes Medicos</h2>
                    <div class="MedExp">
                        <h3>Sube tus expedientes aqui</h3>
                        <form id="formulario" method="post" action="/perfilUsuario/envexp" enctype="multipart/form-data">
                            <label for="archivo">Seleccione un archivo:</label>
                            <input type="file" id="archivo" name="archivo[]" accept=".pdf, .doc" multiple required>
                            <br><br>
                            <button type="submit">Subir archivo</button>
                        </form>

                        <h3>Archivos subidos</h3>
                        <div id="listaExpedientes"></div>
                        

                        <script>
                            //funcion para cargar la lista de expedientes
                            function cargarexp(){
                                fetch('/perfilUsuario/listarExp')
                                    .then(response => response.json())
                                    .then(expedientes =>{
                                        const listaExp = document.getElementById('listaExpedientes');
                                        listaExp.innerHTML = '';

                                        if(expedientes.length > 0){
                                            expedientes.forEach(exp => {
                                                const epxItem = document.createElement('div');
                                                epxItem.innerHTML = `
                                                    <p>${exp.nombre_archivo}</p>
                                                    <button onclick="descargarExp(${exp.idexpediente})">Descargar</button>
                                                    <button onclick="eliminarExp(${exp.idexpediente})">Eliminar</button>
                                                `;
                                                listaExp.appendChild(epxItem);
                                            });
                                        } else {
                                            listaExp.innerHTML = '<p>No hay expedientes subidos</p>';
                                        }
                                    })
                                    .catch(error => console.error('Error al cargar el archivo:', error));
                            }

                            function descargarExp(id){
                                window.location.href = `/perfilUsuario/descargarExp/${id}`;
                            }
                            
                            function eliminarExp(id){
                                fetch(`/perfilUsuario/eliminarExp/${id}`, {
                                    method: 'DELETE'
                                })
                                .then(response => response.text())
                                .then(message =>{
                                    alert(message);
                                    cargarexp();
                                })
                                .catch(error => console.error('Error al eliminar el archivo', error));
                            }

                            document.addEventListener('DOMContentLoaded', cargarexp);
                        </script>

                    </div>
                </section>

                <section id="contenidoBorrarCuenta" class="ContenidoDinamico" style="display:none;">

                    <div class="borrarcuenta">
                        <h3>Borrar Cuenta</h3>
                        <p>¿Seguro de borrar tu cuenta? Todos tus datos y registros se perderan y no podras recuperarlos</p>
                        <form id="BorrarCuenta" method="post" action="/perfilUsuario/borrarcuenta">
                            <label for="confirmarContra">Ingrese su contraseña para confirmar:</label>
                            <input type="password" name="confirmarContra" id="confirmarContra" placeholder="Contraseña" required>

                            <button type="submit">Borrar Cuenta</button>
                        </form>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include('partials/footer') %>
    <script src="/perfilUsuario.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>